body {
  display: flex;
  justify-content: center;
}

.Player {
  display: flex;
  flex-direction: row;
  padding: 12pt;
  border: 1px solid black;
}

.Player canvas {
  border: 1px solid #d3d3d3;
  height: 720px;
  image-rendering: pixelated;
}

.controlPanel {
  padding-left: 12pt;
  min-width: 576px;
}

.DrawFrameController {
  flex-direction: column;
}
